<h1>User info edit</h1>

<%= form_for(@user) do |f| %>

<p>Name</p>
<%= f.text_field :name %>

<p>Image</p>
<%= f.attachment_field :profile_image %>

<p>introduction</p>
<%= f.text_area :introduction %>

<%= f.submit 'Update User' %>
<% end %>

