<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h2>User info</h2>

			<%= form_for(@user) do |f| %>

			<% if @user.errors.any? %>
			<%= @user.errors.count %> errors prohibited this book from being saved:
			<% @user.errors.full_messages.each do |message| %>
			<%= message %>
			<% end %>
			<% end %>

			<p class="row">
				<div>Name<%= f.text_field :name %></div>
			</p>

			<p class="row">
				<div>Image</div>
				<%= f.attachment_field :profile_image %>
			</p>

			<p class="row">
				<div>introduction<%= f.text_area :introduction %></div>
			</p>

			<p class="row">
				<div>
					<%= f.submit 'Update User' %>
					<% end %>
				</div>
			</p>
		</div>
	</div>
</div>

