<%= render'books/list',book:@book ,user:@user %>
<h1>Books</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Opinion</th>
	</tr>

	<% @books.each do |book| %>
	<tbody>
	<tr>
		<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpg", fallback: "no-image-icon.jpg" %></td>
		<td><%= link_to book_path(book.id) do %>
			<%= book.title %>
			<% end %>
			</td>
		<td><%= book.body %></td>
	</tr>
	</tbody>
	<% end %>
</table>
