
<div class="side-bar col-xs-3">
	<div class="User info">
		<h2>User info</h2>
		<table class="table table-striped">
			<thead>
				<tr>
				 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no-image-icon.jpg" %>
				</tr>
			    <tr>
				 <th>name:</th>
				 <th><%= user.name %></th>
			    </tr>
			    <tr>
				 <th>introduction:</th>
				 <th><%= user.introduction %></th>
			    </tr>
			</thead>
		</table>
		<div class="row">
			<%= link_to "edit",edit_user_path(user.id) ,class: "btn btn-default btn-block" %>
		</div>
	</div>
    <div class="New_book">
	 <h2>New book</h2>
	 <%= form_for(book) do |f| %>

	 <% if @book.errors.any? %>
     <%= @book.errors.count %> errors prohibited this book from being saved:
       <% @book.errors.full_messages.each do |message| %>
         <%= message %>
       <% end %>
     <% end %>

     <p class="row">
    	<div class="title">Title</div>
    	<%= f.text_field :title, class: "col-xs-12 form-control" %>
     </p>
     <p class="row">
    	<div class="body">Body</div>
    	<%= f.text_area :body, class: "col-xs-12 form-control" %>
     </p>

     <p class="row">
     	<div>
    	<%= f.submit 'Create Book', class: "btn btn-primary btn-block" %>
	    </div>
     </p>
     <% end %>
    </div>
</div>
