<%= render'books/list',book:@book ,user:@user %>

<h1>Books#show</h1>

<p><%= link_to @user.name, user_path(@book) %></p>
<p>Title:</p>
<span><%= link_to book_path(@book.id) do %>
	<%= @book.title %>
	<% end %>
</span>
<p>Body:</p>
<span><%= @book.body %></span>
<br></br>
<br>
<% if current_user.id == @book.user_id %>
	<%= link_to 'edit',edit_book_path(@book.id) %>
	<%= link_to 'destroy', book_path(@book.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?" } %>
		<% end %>
