<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
  <table>
  <tr>

<% if user_signed_in? %>
<th><%= link_to "home", user_path(current_user.id) %></th>

<th><%= link_to "users", users_path %></th>

<th><%= link_to "books", books_path %></th>

<th><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></th>

<% else %>

<th><%= link_to "新規登録", new_user_registration_path %></th>

<th><%= link_to "ログイン", new_user_session_path %></th>

<% end %>
</tr>
</table>
</div>

<%= flash[:notice] %>
<%= flash[:update] %>

    <%= yield %>
  </body>
</html>
