<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
  <table>
  <tr>
<th>Bookers</th>

<% if user_signed_in? %>
<th><%= link_to "Home", user_path(current_user.id) %></th>

<th><%= link_to "Users", users_path %></th>

<th><%= link_to "Books", books_path %></th>

<th><%= link_to "logout", destroy_user_session_path, method: :delete %></th>

<% else %>
<th><%= link_to " Home", root_path%> </th>

<th><%= link_to " About", home_about_path %> </th>

<th><%= link_to "Sign up", new_user_registration_path %></th>

<th><%= link_to "login", new_user_session_path %></th>

<% end %>
</tr>
</table>
</div>

<%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
